<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticketproject.mapper.ReviewMapper">

	<insert id="insertReview" parameterType="ReviewVO" >
		INSERT INTO review(
					content,rating,userid,rprfid)
			   VALUES(
			   		#{content},#{rating},#{userid},#{rprfid})
		<selectKey order="AFTER" resultType="int" keyProperty="reviewid">
			SELECT MAX(reviewid) FROM review
		</selectKey>	
	</insert>
	
	<select id="reviewListByRprfid" parameterType="int" resultType="ReviewVO">
        SELECT * 
        FROM review 
        WHERE state = 'E' AND rprfid = #{rprfid}
        ORDER BY reviewid DESC
    </select>
    
    <update id="updateReview" parameterType="ReviewVO" >
    	UPDATE review SET content =#{content}, rating =#{rating}, rdate =now() WHERE reviewid=#{reviewid}
    
    </update>
    <update id="updateReviewRemove" parameterType="ReviewVO">
    	UPDATE review SET state = 'D' WHERE reviewid = #{reviewid}
    </update>
    
    <select id="selectReview"  parameterType="int" resultType="ReviewVO" >
    	SELECT userid, content, reviewid FROM review WHERE state = 'E' AND reviewid = #{reviewid}
    
    </select>
	
</mapper>



