<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticketproject.mapper.HallMapper">

	<select id="selectHall" resultType="HallVO">
		SELECT hallid, fcltynm, userid, halladdress, img , enabled, hallphone
			FROM hall
			WHERE enabled = 0
			
			
	</select>
	<select id="hallAllList"  resultType="HallVO" parameterType="SearchVO">
		SELECT hallid, fcltynm, userid, halladdress, img , hallphone
			FROM hall
			LIMIT #{start}, #{perPage}
			
	</select>
	<select id="getHallImg" parameterType="int" resultType="Map">
		SELECT chgimg, img
        FROM hall
        WHERE hallid = #{hallid}
	</select>
	
	
	<update id="updateEnabled" parameterType="map">
	    UPDATE hall
	    SET enabled = #{enabled}
	    WHERE hallid = #{hallid};
	</update>
	
	<update id="updateAllSeatCnt" parameterType="map">
	    UPDATE hall
	    SET allseatcnt = #{allSeatCnt}
	    WHERE hallid = #{hallid};
	</update>
	<select id="findHallIdByUserId" parameterType="string" resultType="string">
	 	SELECT hallid FROM hall WHERE userid = #{userid} 
	</select>

</mapper>



